html, body {
  margin: 0;
  padding: 0;
}

/** buttons **/
.mercury-primary-toolbar .mercury-insertImage-button em,
.mercury-expander-button[data-button=insertImage] em {
  background-image: url(/assets/mercury/toolbar/primary/image.png)
}

.mercury-primary-toolbar .mercury-insertPage-button em,
.mercury-expander-button[data-button=insertPage] em {
  background-image: url(/assets/mercury/toolbar/primary/insertpage.png)
}

/** content **/
.highlight_content {
  background-color: #F7FFD3;
}

/** image library **/

.image_library {
  float:  left;
  height: 100px;
  width:  100px;
  padding:  5px;
  cursor:  hand;
  cursor:  pointer;
}

/** flash **/
#notice, #error {
	color: #2F2F2F;
	padding:0.25em 0.5em;
	margin-bottom: 15px;
}

#notice {
	background-color:#DEFFDD;
	border:2px solid #20BC00;
}

#error {
	background-color:#F2E1E1;
	border:2px solid #AA0000;
}

/** function links **/

a.add_container {
  width:  16px;
  height: 16px;
  display: block;
  background-image: url("/assets/roxanne/toolbar/plus.png")
}