%a.fancybox{:rel => 'gallery1', :href => container.extract(:image_source, 'picture'), :title => container.extract(:text, 'title')}
  - if container.sort == 0
    = image_tag container.extract(:image_source, 'picture').gsub('original', 'medium')