<!DOCTYPE html>
<html>
<head>
  <title>Roxanne</title>
  <%= stylesheet_link_tag    "roxanne/application", :media => "all" %>
  <%= javascript_include_tag "roxanne/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
